**/.idea/dictionaries
**/.idea/gradle.xml
**/.idea/libraries
**/.idea/tasks.xml
**/.idea/workspace.xml
*.i*
*.iws
*.sublime-*
.classpath
.clover
.DS_Store
.fbprefs
.fbwarnings
.gradle
.kobalt
.nb-gradle
.project
.settings
.settings
/bin
/build
/deploy
/dist
/gen
/gradle.properties
/local.properties
/out
/proguard-project.txt
/project.properties
/target
/test-output
build
build.properties
build.test
dist
ehthumbs.db
kobaltBuild
Thumbs.db